.Gallery{
    margin: 140px auto;
    padding: 0 8%;
}

.Gallery h1{
    margin-bottom: 35px;
}

.outer{
    width: 100%;
    overflow: hidden;
}

.photos{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.photos *{
    height: 220px;
    border-radius: 16px;
}

.slick-track div{
    width: 200px;
}